<div class="profile">
	<a href="/" class="link-unstyled">
		<img src="/img/mongoose.jpg" alt="profile_image" class="img-rounded" style="width:100px;">
		<h3>{{ site.title }}</h3>
	</a>
	<p>
		<strong>Web Developer</strong><br>
		Major : Back-end Part<br>
		Main-language : Node.js
	</p>
</div>

<hr>

<ul class="nav nav-pills nav-stacked">
	{% for node in site.pages %}
	  {% if node.navigation %}
	    {% if page.url == node.url or page.category == node.title %}
	      <li class="active"><a href="{{node.permalink}}" class="active">{{node.navigation}}</a></li>
	    {% else %}
	      <li><a href="{{node.url}}">{{node.navigation}}</a></li>
	    {% endif %}
	  {% endif %}
	{% endfor %}
</ul>

<hr>

<ul class="list-unstyled small">
	<li>
		<a href="mailto:{{ site.email}}" class="link-unstyled">
			<i class="fa fa-envelope"></i> wjdduq914@gmail.com
		</a>
	</li>
	<br>
	<li>
		<a href="https://github.com/LeeJeongYeop" class="link-unstyled" target="_blank">
			<img src="/img/github.JPG" style="width:15px"> github.com/LeeJeongYeop
		</a>
	</li>
</ul>
<hr>